---
import Seo from "../components/Seo.astro";
---

<html lang="en">
  <head>
    <Seo />
    <title>Vercel Astro</title>
  </head>
  <body>
    <h1>
      Vercel Astro OG: <a href="/index.og"
        >Check here</a
      >
    </h1>
  </body>
</html>
